<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="footer">
        <!-- 경훈 추가 --  ======= 하단 ======= -->

        <div style="width:1440px;  margin:80px auto;  text-align:center; display: block;">
            <a class="fa fa-facebook"></a>
            <a class="fa fa-youtube"></a>
            <a class="fa fa-instagram"></a>
            <a class="fa fa-blog"></a>
        </div>
        <!-- 경훈추가 ======== 하단 푸터 ========= -->
        <div id="footer_wrap">
            <div class="content_info_wrap">
                <div class="content_info">
                    <div class="contact_us">
                        <h3>
                            <img src="https://www.naturestore.co.kr/data/skin/front/the_living/img/common/txt_footer_contactus.png">
                        </h3>
                        <div class="contact_us_con">
                            <div>
                                <div class="cs_center">
                                    <strong>고객센터</strong>
                                    010-9280-8023
                                    <p>
                                        평일 : 9:00(AM) ~ 6:00(PM)
                                        <br>
                                        토/일, 공휴일은 휴무입니다.
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div class="bank_info">
                                    <strong>계좌번호</strong>
                                    1002-957-869448
                                    <p>
                                        은행: 우리은행
                                        <br>
                                        예금주: 차경훈
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="notice_list">
                        <h3>
                            <a>
                                <img src="https://www.naturestore.co.kr/data/skin/front/the_living/img/common/txt_footer_notice.png">
                            </a>
                        </h3>
                        <ul>
                            <li><a>2021 연말 감사제 이벤트 당첨자 발표</a></li>
                            <li><a>정부재난 지원금 매장안내</a></li>
                            <li><a>내셔널지오그래픽 어패럴 스마트앱 출시!</a></li>
                        </ul>
                    </div>
                    <div class="foot_list">
                        <h3>
                            <img src="https://www.naturestore.co.kr/data/skin/front/the_living/img/common/txt_footer_information.png">
                        </h3>
                        <ul>
                            <li><a>회사소개</a></li>
                            <li><a>브랜드 사이트</a></li>
                            <li><a>이용안내</a></li>
                            <li><a>이용약관</a></li>
                            <li><a style="color: #fff;">개인정보처리방침</a></li>
                            <li><a>매장안내</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="footer">
                <div class="foot_cont">
                    <div class="foot_info">
                        <address>
                            <strong>(주)겨울방학 프로젝트</strong>
                            <span>주소 : -- - - - - - -- - - 비밀</span>
                        </address>
                    </div>
                    <div class="foot_info_list">
                        <dl>
                            <dt> 리더 : </dt>
                            <dd> 박현호 </dd>
                        </dl>
                        <dl>
                            <dt> 개인 등록 번호 : </dt>
                            <dd> 010-9280-8023 </dd>
                        </dl>
                        <dl>
                            <dt> 소속 대학교 : </dt>
                            <dd> 한세대학교 </dd>
                        </dl>
                        <dl>
                            <dt> 대학 주소 : </dt>
                            <dd> 경기도 군포시 한세로 </dd>
                        </dl>
                    </div>
                    <div class="foot_info_list">
                        <dl>
                            <dt> 리더 : </dt>
                            <dd> 박현호 </dd>
                        </dl>
                        <dl>
                            <dt> 개인 등록 번호 : </dt>
                            <dd> 010-9280-8023 </dd>
                        </dl>
                        <dl>
                            <dt> 소속 대학교 : </dt>
                            <dd> 한세대학교 </dd>
                        </dl>
                        <dl>
                            <dt> 대학 주소 : </dt>
                            <dd> 경기도 군포시 한세로 </dd>
                        </dl>
                        <dl>
                            <dt> 아 ㅋㅋ : </dt>
                            <dd> 더 이상 쓸게 없다고 ㅋㅋ 암튼 카피함~ </dd>
                        </dl>
                    </div>
                    <p class="copyright">
                        © National Geographic Partners LLC. All rights reserved.
                        <br>
                        National Geographic and Yellow Border Design are trademarks of National Geographic Society, used under
                        license.
                    </p>
                </div>
                <div class="foot_certify">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</html>